/* -------------- Root properties */
* {
  padding: 0;
  margin: 0;
  touch-action: manipulation;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

form {
  margin-top: 20px;
  margin-bottom: 20px;
}

main {
  display: flex;
  justify-content: center;
}

/* -------------- General Selectors */
.btn {
  width: 220px;
  padding: 12px 2px;
  text-indent: 10px;
  text-align: left;
  margin: 6px 0;
  background-color: purple;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  color: white;
}

.btn:hover {
  background-color: rgb(110, 0, 110);
}

.btn:active {
  background-color: rgb(255, 0, 255);
}

.btn.option {
  font-size: 15px;
  width: 180px;
  padding: 9px 0px;
}

/* -------------- Main container (home page) */
#main-container {
  margin-top: 100px;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: 700px;
}

#title {
  font-size: 40px;
}

#intro-options {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#intro {
  text-align: center;
}

#desc {
  margin: 10px 0;
}

@media (max-width: 740px) {
  #intro h1 {
    font-size: 25px;
  }

  #desc {
    font-size: 18px;
  }
  #main-container {
    width: 450px;
  }
}

@media (max-width: 499px) {
  #intro h1 {
    font-size: 20px;
  }

  #desc {
    font-size: 14px;
  }
  #main-container {
    width: 300px;
  }
}
/* -------------- Main quiz container */
#start-quiz {
  width: 110px;
  padding: 10px 0;
  margin: 5px 0;
  background-color: purple;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  color: white;
}

#start-quiz:hover {
  background-color: rgb(110, 0, 110);
}

#start-quiz:active {
  background-color: rgb(255, 0, 255);
}

.update-label {
  width: 100%;
  position: absolute;
  bottom: -60px;
}
hr {
  border: 0.5px solid black;
}
.label.correct {
  color: green;
  font-size: 30px;
  opacity: 1;
}

.label.incorrect {
  color: red;
  font-size: 30px;
  opacity: 1;
}

@media (max-width: 499px) {
  #start-quiz {
    font-size: 15px;
    width: 90px;
    padding: 8px 0;
    margin: 5px 0;
  }

  #highscore {
    font-size: 15px;
  }
}

/* -------------- Timer properties */
@keyframes anim-flashRed {
  0% {
    color: black;
  }
  33% {
    color: red;
  }

  66% {
    color: black;
  }

  100% {
    color: red;
  }
}

.flashRed {
  animation-name: anim-flashRed;
  animation-duration: 0.5s;
}

.timer {
  margin-left: 10px;
  font-size: 50px;
  color: black;
  display: flexs;
}

.timer.flashRed {
  opacity: 1;
}

.timer.correct {
  color: green;
  opacity: 1;
}

.timer.hidden {
  display: none;
}

/* -------------- Post quiz properties */
.endgame-container {
  display: flex;
  flex-direction: column;
}

.post-submission-el.hidden {
  display: none;
}

.post-submission-el.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#submit {
  width: 100px;
  padding: 10px 0;
  background-color: purple;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  color: white;
}

.end-game-header em {
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

#timeout,
#done {
  font-size: 40px;
  margin-bottom: 5px;
}
#question-label {
  font-size: 28px;
  margin-bottom: 10px;
}

.user-scores {
  margin: 3px 0;
}

.score-info {
  margin-top: 5px;
  font-size: 16px;
}
#play-again-btns {
  margin-top: 5px;
}
#initials {
  text-indent: 8px;
  padding: 8px 0;
  width: 250px;
  border-radius: 5px;
}

#submit-initials label {
  font-size: 25px;
}

#timeout {
  margin-bottom: 10px;
}
.play-again {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.play-again p {
  margin-top: 30px;
}

/* For the 'Yes' 'No' buttons specifically, reduce the size in width and height */
#yes,
#no {
  text-indent: 0;
  text-align: center;
  width: 60px;
  padding: 8px 0;
}

@media (max-width: 740px) {
  #question-label {
    font-size: 20px;
  }

  #end-game-header h1 {
    font-size: 33px;
  }

  .end-game-header em {
    font-size: 23px;
  }

  #submit {
    margin-top: 15px;
  }
}

@media (max-width: 499px) {
  #question-label {
    font-size: 18px;
  }

  #end-game-header h1 {
    font-size: 30px;
  }

  .end-game-header em {
    font-size: 20px;
  }

  #submit {
    margin-top: 15px;
  }
}

/* -------------- Highscore page */
#highscore {
  margin-top: 10px;
  background-color: transparent;
  border: none;
  color: purple;
  cursor: pointer;
}
#highscore h1 {
  color: black;
}

.box,
.box-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(125, 57, 176, 0.2);
  width: 650px;
  padding: 10px 0;
}

#inner-score {
  display: none;
}
#inner-score h1 {
  margin-bottom: 5px;
}
.box p {
  color: black;
  margin-left: 15px;
}

.clear-score {
  margin-top: 10px;
}

.btn.clear-score,
.btn.go-back {
  font-size: 16px;
  width: 150px;
  padding: 10px 2px;
}
.btn.go-back {
  margin-left: 5px;
}

@media (max-width: 740px) {
  .box,
  .box-menu {
    width: 450px;
  }

  .user-scores {
    font-size: 17px;
  }
}

@media (max-width: 499px) {
  .box,
  .box-menu {
    width: 330px;
  }

  .user-scores {
    font-size: 14px;
  }

  .btn.clear-score,
  .btn.go-back {
    font-size: 14px;
    width: 130px;
    padding: 10px 0px;
  }

  #inner-score h1 {
    font-size: 20px;
  }

  .score-info {
    font-size: 15px;
  }
}
