* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}
#main-container {
  position: relative;
}

@keyframes anim-flashRed {
  0% {
    color: black;
  }
  33% {
    color: red;
  }

  66% {
    color: black;
  }

  100% {
    color: red;
  }
}
.flashRed {
  animation-name: anim-flashRed;
  animation-duration: 0.5s;
}

.timer {
  font-size: 50px;
  color: black;
  opacity: 1;
}

.timer.flashRed {
  opacity: 1;
}

.timer.correct {
  color: green;
  opacity: 1;
}

.timer.hidden {
  opacity: 0;
}

.update-label {
  width: 100%;
  position: absolute;
  bottom: -70px;
}
hr {
  border: 0.5px solid black;
}
.label.correct {
  color: green;
  font-size: 30px;
  opacity: 1;
}

.label.incorrect {
  color: red;
  font-size: 30px;
  opacity: 1;
}

main {
  display: flex;
  justify-content: center;
}
.btn {
  padding: 3px 15px;
}
