* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

form {
  margin-top: 20px;
  margin-bottom: 20px;
}

#intro {
  text-align: center;
}

#desc {
  margin: 10px 0;
}
#start-quiz {
  width: 110px;
  padding: 10px 0;
  margin: 5px 0;
  background-color: purple;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  color: white;
}

#start-quiz:hover {
  background-color: rgb(110, 0, 110);
}

#start-quiz:active {
  background-color: rgb(255, 0, 255);
}

.btn {
  width: 150px;
  padding: 10px 0;
  text-indent: 10px;
  text-align: left;
  margin: 5px 0;
  background-color: purple;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  color: white;
}

.btn:hover {
  background-color: rgb(110, 0, 110);
}

.btn:active {
  background-color: rgb(255, 0, 255);
}

#timeout {
  margin-bottom: 10px;
}
/* For the 'Yes' 'No' buttons specifically, reduce the size in width and height */
#yes,
#no {
  text-indent: 0;
  text-align: center;
  width: 60px;
  padding: 8px 0;
}

#main-container {
  margin-top: 100px;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 600px;
}

#intro-options {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#highscore {
  margin-top: 10px;
  background-color: transparent;
  border: none;
  color: purple;
  cursor: pointer;
}
#highscore h1 {
  color: black;
}
.box,
.box-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(125, 57, 176, 0.2);
  width: 500px;
  padding: 10px 0;
}

#inner-score {
  display: none;
}
.box p {
  color: black;
  margin-left: 15px;
}
#submit {
  width: 100px;
  padding: 10px 0;
  background-color: purple;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  color: white;
}

.post-submission-el.hidden {
  display: none;
}

.post-submission-el.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clear-score {
  margin-top: 10px;
}
.play-again {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score-info {
  font-size: 17px;
}
#play-again-btns {
  margin-top: 5px;
}
#initials {
  text-indent: 8px;
  padding: 8px 0;
}

@keyframes anim-flashRed {
  0% {
    color: black;
  }
  33% {
    color: red;
  }

  66% {
    color: black;
  }

  100% {
    color: red;
  }
}
.flashRed {
  animation-name: anim-flashRed;
  animation-duration: 0.5s;
}

.timer {
  font-size: 50px;
  color: black;
  display: flexs;
}

.timer.flashRed {
  opacity: 1;
}

.timer.correct {
  color: green;
  opacity: 1;
}

.timer.hidden {
  display: none;
}

.update-label {
  width: 100%;
  position: absolute;
  bottom: -60px;
}
hr {
  border: 0.5px solid black;
}
.label.correct {
  color: green;
  font-size: 30px;
  opacity: 1;
}

.label.incorrect {
  color: red;
  font-size: 30px;
  opacity: 1;
}

main {
  display: flex;
  justify-content: center;
}

.endgame-container {
  display: flex;
  flex-direction: column;
}

.play-again p {
  margin-top: 30px;
}
